.margin{width: 1210px;margin: 0 auto;overflow: hidden;}
header{height:124px;background:url(../images/header.jpg) no-repeat center;background-size: cover}
nav{height: 40px;background:#f5f5f5;font: 14px/40px "";color:#606060;}
nav .n-l{float: left; }
nav .n-l i{display: block;width: 17px;height: 17px;
    background: url(../images/home.jpg) no-repeat center;
       float: left; margin-top: 12px;}
nav .n-l select{background: #f5f5f5;text-align: center;border: none;float: left;
  color:#606060;margin:10px 38px 0 20px;}
nav .n-l span{float: left;}
nav .n-l .login{float: left;margin: 0 25px 0 17px}
nav .n-l .zc{float: left;}
nav .n-r{float: right;} 
nav .n-r p{float: left;}
nav .n-r p:nth-of-type(5){width: 121px;height: 20px;
  background:#f5f5f5 url(../images/bank.jpg) no-repeat center;padding-left: 16px;}
nav .n-r p:nth-of-type(1){width: 100px;background: #f5f5f5 url(../images/down.jpg) no-repeat 64px;}
nav .n-r p:nth-of-type(2) i{display: inline-block;
  background: url(../images/smallCar.jpg) no-repeat left;width: 18px;height: 14px;}
nav .n-r p:nth-of-type(2) span{color:green;margin: 0 5px;font: 700 12px/18px "";}
nav .n-r p:nth-of-type(3){width: 72px;background: url(../images/down.jpg) no-repeat right}
nav .n-r p:nth-of-type(5){margin-top: 10px;}
nav .n-r>span{float: left;margin: 0 19px 0 16px;}


#search{background: #fff;height: 191px;overflow: hidden;}
#search .s-l{float: left;margin-top: 65px;}
#search .s-l a{display: block;} 
#search .s-c{float: left;margin:57px 0  0 71px;width: 800px;}
#search .s-c .sc-t{height: 47px;}
#search .s-c .sc-t .sec{float: left;height: 47px;width:487px;border: solid 2px #c30000;
    background: url(../images/search.jpg) no-repeat 14px;text-indent: 40px;
    font:17px/47px "";color: #bbbbc5;}
#search .s-c .sc-t .sub{float: left;width: 100px;height: 51px;background: #c30000;border: none;
font:22px/51px "";color: #fff;text-align: center}
#search .s-c .sc-t a{font: 16px/20px "";width: 47px;height: 45px;margin:5px 0 0 12px;
  display: block;float: left;}
#search .s-c .sc-b{height: 46px;width: 800px;display: flex;}
#search .s-c .sc-b a{margin: 0 0 0 24px;font:16px/46px "";color: #757575;}
#search .s-c .sc-b a:nth-of-type(1){margin: 0;}
#search .s-r{float: right;margin-top: -101px;}
#b-nav{border-bottom: 2px solid #318700;height: 57px;}
#b-nav .nv{overflow: hidden;}
#b-nav .nv a:nth-of-type(1){width: 210px;height: 57px;display: block;text-align: center;
  background: #2d8000;color:#fff;font:16px/57px "";float: left;} 
#b-nav .nv a:nth-of-type(2){float:right;position: relative;} 
#b-nav .nv a:nth-of-type(2) span{display: block;width:31px;height:25px;position: absolute;
  background: url(../images/number.png) no-repeat center;left: 34px;
  top:2px;color: #fff;font: 7px/19px "";text-align: center;}
#b-nav .nv a:nth-of-type(2) img{float:right;margin:14px 19px 0 0;} 
#b-nav .nv ul{display: flex;margin-left: 25px;float: left;}
#b-nav .nv ul li{font:18px/62px "";color: #383838;margin:0 17px 0 14px;}
#b-nav .nv ul li:nth-of-type(1){margin: 0;}
#b-nav .nv ul li:hover{color: green;}
#b-nav .banner{height: 583px;width: 100%;background: chocolate;}
.ssearch{height: 132px;}
.ssearch .margin{border-bottom: 2px solid #cbcbc9;height: 132px}
.ssearch .ss-t{margin-top: 23px;}
.ssearch .ss-t select{padding: 1px 4px;margin: 0 5px;}

#lfriend{height: 252px;background:#f7f7f7;
  border-bottom: 2px solid #3ea600;border-top:1px solid #e7e7e7;}
#lfriend .lk-l{float: left;}
#lfriend .lk-l ul{overflow: hidden;}
#lfriend .lk-l ul li{width:212px;float: left;height: 252px;
  background: url(../images/bgs.jpg) no-repeat right}
#lfriend .lk-l ul li h3{margin-left: 40px;margin-top: 25px;font:700 19px/44px "";color: #000000}
#lfriend .lk-l ul li a{margin-left: 40px;font: 14px/30px "";color: #989898;display: block;}
#lfriend .lk-r{float: left;}
footer{text-align: center;height: 255px;}
#lfriend .lk-r .zb{width: 164px;text-align: center;margin-top: 35px;float: left;margin-left: 17px;}
#lfriend .lk-r .zb{font: 17px/65px "";color: #c30000;}
#lfriend img {width: 86px;height: 86px;}
footer .f-t{margin-top: 21px;}
footer .f-t a{font:17px/48px "";color: #adb4a7;}
footer .f-t span{padding: 0 8px;}
footer .f-t span.red{font:17px/48px "";color: #ca000b;}
footer .f-c{overflow: hidden;margin-top: 29px;height: 100px;}
footer .f-c .logo{float: left;margin-left:320px;}
footer .f-c .connect{float: left;margin-left: 10px;margin-top: 10px;font:10px/2 "";color: #989898;}
footer .xing{margin-top: 30px;}

#list{
    font: 14px/2 "";
    
}
#list a{
    padding: 0 4px;
}
#goods{height: 600px;}
#goods .g-l{width: 400px;background: #ff9999;
    float: left;
  height: 600px;}
#goods .g-l .gl-t{
    width: 400px;height: 400px;
    background: red;
}
#goods .g-l .gl-t img{
      width: 400px;
      height: 400px;

}
#goods .g-l .gl-b{
        width: 400px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between
}   
#goods .g-l .gl-b p{
  margin-top: 5px;
    width: 70px;
    height: 70px;
    border:1px solid #3ea600;
}
#goods .g-r{
    float: left;
    margin-left: 20px;
}
#goods .g-r p.bg{
      width:30px;
      height: 30px;
      border-radius: 2px;
      background: url(../images/self.jpg) no-repeat center;
}

#goods .g-r>p:nth-of-type(2){
    font: 20px/1.5 "";
    color:#757575; 
}

#goods .g-r p:nth-of-type(3){
        font: 12px/1.5 "";
        color: #c30000;
}

#goods .g-r a:nth-of-type(1){
      display: block;
      font: 12px/1.5 "";
      color:red;
      margin-top:  40px;
}
#goods .g-r .price{
  width: 550px;
    background: #e7e7e7;

}
#goods .g-r .price .tt span:nth-of-type(1){
      padding: 10px 10px;
      margin-left: 20px;
      font: 25px/2 "";
      color: #ca000b;
        }
#goods .g-r .price .tt span:nth-of-type(2){
        /* margin-left:  30px; */
        margin-top: -10px;
        display: inline-block;
        background: #c30000;
        color: #fff;
        font: 12px/16px "";
        padding: 2px 2px;
    }
#goods .g-r .price .tt span:nth-of-type(3){
  margin-left: 10px;
}
#goods .g-r .price .bb {
    margin-top: 20px;
}
#goods .g-r .price .bb span:nth-of-type(1){
      display: inline-block;
      background: #ca000b;
      color: #fff;
      font: 16px/24px "";
      padding: 2px 2px;
      margin-left: 32px;
}
#goods .g-r .price .bb span:nth-of-type(2){
      font: 12px/2 "";
      color: #FFD700;
      margin-left: 20px;

}

#goods .g-r .price .bb span:nth-of-type(3){
    display:inline-block;
      border: 1px solid #ca000b;
      font-size:  14px;
      color: #999;
      margin-left: 20px;
}


#goods .g-r  .address span.send{
      font: 19px/2 "";
      color: #333;

}
#dz{

        width: 200px;
        font: 17px/2 "";
        color: #bbbbc5;
}
#dz option{text-align: center;width: 200px;}
#te{
    font: 17px/2 "";
    color: #bbbbc5;  
}
#goods .g-r .address p:nth-of-type(2){
      font: 17px/2 "";
      color: #bbbbc5;

}
/* #goods .btns{height: 100px;background: #ff9999}
#goods .end{width: 221px;height: 353px;background: #fff;padding: 47px 10px 0 10px}
#goods .end img{width:221px;height:220 px;}
#goods .end p:nth-of-type(1){
    color: #c30000;
    font: 700 17px/2 "";
}
#goods .end p:nth-of-type(2){
    font: 12px/18px "";
    color:#606060;
}
#goods .end p:nth-of-type(3){
    width: 30px;
    height: 18px;
    background: url(../images/self.jpg) no-repeat center;
    border-radius: 2px;
    margin: 15px 3px;
}
#goods .end .boxf{display: flex;}
#goods .end .boxf p:nth-of-type(1){
 flex: 1;
    height: 28px;
  border:1px solid #bbbbc5;

  font: 14px/2 "";color: #989898;
  text-align: center;
}

#goods .end .boxf p:nth-of-type(1) span{
            color: #43a400;
}
#goods .end .boxf  p:nth-of-type(2){
  text-align: center;
  flex: 1;
  height: 28px;
  border:1px solid #bbbbc5;

  font: 14px/2 "";color: #989898;
  cursor: pointer;

}
#goods .end .boxf  p:nth-of-type(2) i{
      margin-right: 3px;
        display: inline-block;
        width: 15px;
        height: 10px;
        background: url(../images/redcar.jpg) no-repeat center;
} */