.margin{width: 1513px;margin: 0 auto;overflow: hidden;}
header{height:124px;background:url(../images/header.jpg) no-repeat center;background-size: cover}
nav{height: 40px;background:#f5f5f5;font: 14px/40px "";color:#606060;}
nav .n-l{float: left; }
nav .n-l i{display: block;width: 17px;height: 17px;
    background: url(../images/home.jpg) no-repeat center;
       float: left; margin-top: 12px;}
nav .n-l select{background: #f5f5f5;text-align: center;border: none;float: left;
  color:#606060;margin:10px 38px 0 20px;}
nav .n-l span{float: left;}
nav .n-l .login{float: left;margin: 0 25px 0 17px}
nav .n-l .zc{float: left;}
nav .n-r{float: right;} 
nav .n-r p{float: left;}
nav .n-r p:nth-of-type(5){width: 121px;height: 20px;
  background:#f5f5f5 url(../images/bank.jpg) no-repeat center;padding-left: 16px;}
nav .n-r p:nth-of-type(1){width: 100px;background: #f5f5f5 url(../images/down.jpg) no-repeat 64px;}
nav .n-r p:nth-of-type(2) i{display: inline-block;
  background: url(../images/smallCar.jpg) no-repeat left;width: 18px;height: 14px;}
nav .n-r p:nth-of-type(2) span{color:green;margin: 0 5px;font: 700 12px/18px "";}
nav .n-r p:nth-of-type(3){width: 72px;background: url(../images/down.jpg) no-repeat right}
nav .n-r p:nth-of-type(5){margin-top: 10px;}
nav .n-r>span{float: left;margin: 0 19px 0 16px;}


#search{background: #fff;height: 191px;overflow: hidden;}
#search .s-l{float: left;margin-top: 65px;}
#search .s-l a{display: block;} 
#search .s-c{float: left;margin:57px 0  0 71px;width: 800px;}
#search .s-c .sc-t{height: 47px;}
#search .s-c .sc-t .sec{float: left;height: 47px;width:605px;border: solid 2px #c30000;
    background: url(../images/search.jpg) no-repeat 14px;text-indent: 40px;
    font:17px/47px "";color: #bbbbc5;}
#search .s-c .sc-t .sub{float: left;width: 127px;height: 51px;background: #c30000;border: none;
font:22px/51px "";color: #fff;text-align: center}
#search .s-c .sc-t a{font: 16px/20px "";width: 47px;height: 45px;margin:5px 0 0 12px;
  display: block;float: left;}
#search .s-c .sc-b{height: 46px;width: 800px;display: flex;}
#search .s-c .sc-b a{margin: 0 0 0 24px;font:16px/46px "";color: #757575;}
#search .s-c .sc-b a:nth-of-type(1){margin: 0;}
#search .s-r{float: right;margin-top: 44px;}
#b-nav{border-bottom: 2px solid #318700;height: 57px;}
#b-nav .nv{overflow: hidden;}
#b-nav .nv a:nth-of-type(1){width: 263px;height: 57px;display: block;text-align: center;
  background: #2d8000;color:#fff;font:16px/57px "";float: left;} 
#b-nav .nv a:nth-of-type(2){float:right;position: relative;} 
#b-nav .nv a:nth-of-type(2) span{display: block;width:31px;height:25px;position: absolute;
  background: url(../images/number.png) no-repeat center;left: 34px;
  top:2px;color: #fff;font: 7px/19px "";text-align: center;}
#b-nav .nv a:nth-of-type(2) img{float:right;margin:14px 50px 0 0;} 
#b-nav .nv ul{display: flex;margin-left: 25px;float: left;}
#b-nav .nv ul li{font:18px/62px "";color: #383838;margin:0 17px 0 14px;}
#b-nav .nv ul li:nth-of-type(1){margin: 0;}
#b-nav .nv ul li:hover{color: green;}
#b-nav .banner{height: 583px;width: 100%;background: chocolate;}
 #banner{height: 563px;background: coral; position: relative;}
#banner .margin{
  overflow: hidden;position: relative;
}
 #banner .imgbox{width: 1000px;height: 563px;position: relative;left: 263px;overflow: hidden;}
 #banner .imgbox img{width: 1000px;height: 563px;position: absolute;top:0;left:1000px;}
 #banner .imgbox img:nth-child(1){left:0;}
#banner .btns input{width:40px;height:40px;background: rgba(200,200,200,0.5);border: none;
  position: absolute;top:260px;font: 20px/2 "";}
#left{left: 572px;}
#right{left: 1532px;}
#banner .b-l{width: 263px;height: 563px;background: #3ea600;position: absolute;top:0 ;}
#banner .b-l ul{margin-top:11px;background: #3ea600;position: relative;}
#banner .b-l ul li{height: 49px;width: 213px;font:17px/49px "";
    display: flex;padding:0 25px; }
#banner .b-l ul li>a{color: #fff;padding-left: 21px;}
#banner .b-l ul li i{display: block;width: 20px;height: 21px;margin-top: 11px;} 
#banner .b-l ul li i.bg{background: url(../images/css.jpg) no-repeat;}
#banner .b-l ul li i.bg1{background-position: 0 0;}
#banner .b-l ul li i.bg2{background-position: 0 -21px;}
#banner .b-l ul li i.bg3{background-position: 0 -42px;}
#banner .b-l ul li i.bg4{background-position: 0 -63px;}
#banner .b-l ul li i.bg5{background-position: 0 -82px;}
#banner .b-l ul li i.bg6{background-position: 0 -105px;}
#banner .b-l ul li i.bg7{background-position: 0 -126px;}
#banner .b-l ul li i.bg8{background-position: 0 -147px;}
#banner .b-l ul li .menus{ width: 992px;height:563px;
  position: absolute;background: #fff;left:263px;
  top:-12px;
  display: none;
}

/* 二级菜单的书写样式*/

#banner .b-l ul li .menus .one{
    margin:20px 0 0 40px;
      height: 40px;
      
}
#banner .b-l ul li .menus a.te{
      font: 20px/2 "";color: #383838;
      margin: 0;padding: 0;
}
#banner .b-l ul li .menus p{display: inline-block;font: 14px/2 "";color: #ccc;
  border-bottom: 1px solid #bbbbc5; width: 550px;
   padding-bottom: 10px;padding-left: 10px;}
#banner .b-l ul li .menus span{
      padding: 0 12px;
}











#banner .b-r{height:561px;background:#fff;width:247px;position: absolute;
  left: 1263px;top: 0;border: 1px solid #dddddd;}
#banner .b-r .br-t{display: flex;}
#banner .b-r .br-t a{display: block;height:37px;width: 83px;background: #dddddd;font:17px/37px "";
    color: #606060;text-align: center;}
#banner .b-r .br-t .active{color:#2d8800;border-bottom: 2px solid #2d8800;background: #fff;}
#banner .b-r .box{height: 108px;border-bottom: 1px solid #dddddd;background: #fff;}
#banner .b-r .box a{display: block;}
#banner .b-r .igbox{height: 227px;width: 247px;display: flex;flex-wrap:wrap;}
#banner .b-r .igbox img{width:81px ;height:75px;
border-right: 1px dashed #ddd;border-bottom: 1px dashed #ddd;}
#banner .b-r .newgoods img{width: 248px;height:187px;}
#goodshow{height:467px;background: hotpink;}
#goodshow .g-t{height: 65px;border-bottom: 2px solid #2d8800;}
#goodshow .g-t h3{float: left;font: 24px/65px "";color: #333333;}
#goodshow .g-t p{float: left;margin:20px 0 0 26px}
/* #goodshow .g-t p img{background: url(../images/information.jpg) no-repeat center;} */
#goodshow .g-l{width: 303px;height:401px;float: left;}
#goodshow .g-r{float: left;width: 1210px;height: 401px;background: #c30000;}
.floor .f-t{height:65px;border-bottom: 2px solid #88a9e7;}
.floor .f-t h3{float: left;font:23px/65px "";color: #88a9e7;}
.floor .f-t h4:nth-of-type(1){margin-left: 230px;margin-right: 15px;} 
.floor .f-t h4{float: left;font:18px/50px "";color: #88a9e7;margin-top: 8px;}
.floor .f-l{float: left;}
.floor .f-l .fl-t{width:303px;height:211px;}
.floor .f-l .fl-b{height: 419px;width: 303px;}
.floor .f-r{float: left;width:1210px;height: 630px;background: #ff9999;display: flex;flex-wrap:wrap;}
.floor .f-r img{border-right: 1px solid #ededed;border-bottom:1px solid #ededed;
  width: 301px;height:312px;}
  .floor .f-r img.big{width: 602px;height: 312px;}
#lfriend{height: 318px;background:#f7f7f7;
    border-bottom: 2px solid #3ea600;border-top:1px solid #e7e7e7;}
#lfriend .lk-l{float: left;}
#lfriend .lk-l ul{overflow: hidden;}
#lfriend .lk-l ul li{width:267px;float: left;height: 318px;}
#lfriend .lk-l ul li h3{margin-left: 88px;margin-top: 51px;font:700 19px/44px "";color: #000000}
#lfriend .lk-l ul li a{margin-left: 88px;font: 14px/30px "";color: #989898;display: block;}
#lfriend .lk-r{width: 443px;height: 318px;float: left;}
footer{text-align: center;height: 255px;}
#lfriend .lk-r .zb{width: 164px;text-align: center;margin-top: 57px;float: left;margin-left: 15px;}
#lfriend .lk-r .zb{font: 17px/65px "";color: #c30000;}
footer .f-t{margin-top: 21px;}
footer .f-t a{font:17px/48px "";color: #adb4a7;}
footer .f-t span{padding: 0 10px;}
footer .f-t span.red{font:17px/48px "";color: #ca000b;}
footer .f-c{overflow: hidden;margin-top: 29px;height: 100px;}
footer .f-c .logo{float: left;margin-left:320px;}
footer .f-c .connect{float: left;margin-left: 10px;margin-top: 10px;font:12px/2 "";color: #989898;}
footer .xing{margin-top: 30px;}